body {
  font-family: 'Source Code Pro', monospace;
  src: url('assets/fonts/AcrosstheRoad.ttf')  format('truetype');
  margin: 0px;
}

.head {
    margin: 0 35px;
}
h1 {
    display: block;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 0px;
}
h2 {
    margin-top: 0;
    font-size: 22px;
    color: #1c2430;
    display: inline-block;
}

#gitLink{
   position: fixed;
   bottom: 5vh; 
   right: 50%;
}

#dbLink #dbIcon{
    
    position: fixed;
    bottom: 20vh;
    right: 50.5%;
    height: 5vw;
    width: auto;
}
#gitIcon {
    height: 5vw;
    width: auto;
}

#JStitle {
    align-content: center;
    text-align: center;
}

#filler {
    
}
div.container {
    height: 300px;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: bottom ;

    border-top: 2px solid black;
}
a {
    margin: 15px;
    font-size: 25px;
    text-decoration-line: none;
}
img {
    width: 12vw;
}
p {
    margin: 70px;
    font-size: 20px;
}
ol {
    font-size: 20px;
    /* margin: 50px; */
    text-align: center;
    
}
